{# Import the original template, required. #}
{% extends "blog-card-theme.html" %}

{# A macro to render a blog entry, required. #}
{% macro render_blog(title, description, time, url, page) -%}

<a href="{{ url }}">
    <div class="blog-override-post">
        <h3 class="blog-post-title">{{ title }}</h3>
        <div class="blog-post-extra">
            <img loading="lazy" src={{ page.meta["avatar"] }} style="width:40px; height:40px; border-radius:50%;">
            <span><span class="twemoji"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z"></path></svg></span><b>{{ " "+page.meta["author"] + " · " if "author" in page.meta else "" }}</b></span>
        <span><span class="twemoji"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M6.75 0a.75.75 0 0 1 .75.75V3h9V.75a.75.75 0 0 1 1.5 0V3h2.75c.966 0 1.75.784 1.75 1.75v16a1.75 1.75 0 0 1-1.75 1.75H3.25a1.75 1.75 0 0 1-1.75-1.75v-16C1.5 3.784 2.284 3 3.25 3H6V.75A.75.75 0 0 1 6.75 0zm-3.5 4.5a.25.25 0 0 0-.25.25V8h18V4.75a.25.25 0 0 0-.25-.25H3.25zM21 9.5H3v11.25c0 .138.112.25.25.25h17.5a.25.25 0 0 0 .25-.25V9.5z"></path></svg></span>
            {{ page.meta["date"] + " · " if "date" in page.meta else ""  }}</span>
            
            <!-- <span>{{"翻译:" + page.meta["translator"] if "translator" in page.meta else ""  }}</span> -->
        </div>
        {% if show_tags and "tags" in page.meta %}
            {% call render_tags(page.meta["tags"], index_url) %}
            {% endcall %}
        {% endif %}
        <p class="blog-post-description">{{ description }}</p>
    </div>
</a>

{{ caller() }}
{%- endmacro %}

{# Custom css, optional. #}
{% block style %}
{{ super() }}
<style>
    .md-typeset .blog-post-description {
        margin-bottom: 0;
    }
    .blog-post-extra *{
        display: inline-block;
        vertical-align: middle;
    }

</style>
{% endblock %}