{% extends "base.html" %}

{% block content %}
{{ super() }}

<div class="rellax page_obj_01" data-rellax-speed="1"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_01.svg" width="31" height="41" alt=""></div>
<div class="rellax page_obj_02" data-rellax-speed="5"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_02.svg" width="101" height="101" alt=""></div>
<div class="rellax page_obj_03" data-rellax-speed="3"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_03.svg" width="29" height="33" alt=""></div>
<div class="rellax page_obj_04" data-rellax-speed="4"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_04.svg" width="30" height="30" alt=""></div>
<div class="rellax page_obj_05" data-rellax-speed="6"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_05.svg" width="104" height="104" alt=""></div>
<div class="rellax page_obj_06" data-rellax-speed="3"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_06.svg" width="22" height="19" alt=""></div>
<div class="rellax page_obj_07" data-rellax-speed="2"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_07.svg" width="40" height="40" alt=""></div>
<div class="rellax page_obj_08" data-rellax-speed="5"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_08.svg" width="28" height="28" alt=""></div>
<div class="rellax page_obj_09" data-rellax-speed="7"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_09.svg" width="60" height="60" alt=""></div>
<div class="rellax page_obj_10" data-rellax-speed="3"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_01.svg" width="31" height="41" alt=""></div>
<div class="rellax page_obj_11" data-rellax-speed="6"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_02.svg" width="101" height="101" alt=""></div>
<div class="rellax page_obj_12" data-rellax-speed="3"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_03.svg" width="29" height="33" alt=""></div>
<div class="rellax page_obj_13" data-rellax-speed="1"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_04.svg" width="30" height="30" alt=""></div>
<div class="rellax page_obj_14" data-rellax-speed="6"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_05.svg" width="104" height="104" alt=""></div>
<div class="rellax page_obj_15" data-rellax-speed="3"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_06.svg" width="22" height="19" alt=""></div>
<div class="rellax page_obj_16" data-rellax-speed="6"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_07.svg" width="40" height="40" alt=""></div>
<div class="rellax page_obj_17" data-rellax-speed="2"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_08.svg" width="28" height="28" alt=""></div>
<div class="rellax page_obj_18" data-rellax-speed="2"><img class="backg" src="https://nananiji.zzzhxxx.top/assets/obj_09.svg" width="60" height="60" alt=""></div>
<style>
  /* @group obj */

	.rellax {
		-ms-filter: blur(4px);
		    filter: blur(4px);
	}

	.obj_01 {
		position: absolute;
		top: 1500px;
		left: 100px;
	}

	.obj_02 {
		position: absolute;
		top: 2000px;
		right: 100px;
	}

	.obj_03 {
		position: absolute;
		top: 2200px;
		left: 200px;
	}

	.obj_04 {
		position: absolute;
		top: 2300px;
		right: 150px;
	}

	.obj_05 {
		position: absolute;
		top: 2600px;
		left: 70px;
	}

	.obj_06 {
		position: absolute;
		top: 2800px;
		right: 60px;
	}

	.obj_07 {
		position: absolute;
		top: 3000px;
		left: 500px;
	}

	.obj_08 {
		position: absolute;
		top: 4000px;
		left: 50%;
	}

	.obj_09 {
		position: absolute;
		top: 4500px;
		left: 60%;
	}

	.obj_10 {
		position: absolute;
		top: 5000px;
		left: 30px;
	}

	.obj_11 {
		position: absolute;
		top: 5200px;
		right: 40%;
	}

	.obj_12 {
		position: absolute;
		top: 4500px;
		left: 50px;
	}

	.obj_13 {
		position: absolute;
		top: 4600px;
		right: 450px;
	}

	.obj_14 {
		position: absolute;
		top: 4600px;
		left: 500px;
	}

	.obj_15 {
		position: absolute;
		top: 5800px;
		left: 60px;
	}

	.obj_16 {
		position: absolute;
		top: 5000px;
		right: 200px;
	}

	.obj_17 {
		position: absolute;
		top: 5000px;
		left: 50%;
	}

	.obj_18 {
		position: absolute;
		top: 5500px;
		right: 5%;
	}

	.page_obj_01 {
		position: absolute;
		top: 00px;
		left: 100px;
		z-index: -1;
	}

	.page_obj_02 {
		position: absolute;
		top: 220px;
		right: 100px;
		z-index: -1;
	}

	.page_obj_03 {
		position: absolute;
		top: 200px;
		left: 250px;
		z-index: -1;
	}

	.page_obj_04 {
		position: absolute;
		top: 270px;
		right: 150px;
		z-index: -1;
	}

	.page_obj_05 {
		position: absolute;
		top: 800px;
		left: 10px;
		z-index: -1;
	}

	.page_obj_06 {
		position: absolute;
		top: 380px;
		right: 60px;
		z-index: -1;
	}

	.page_obj_07 {
		position: absolute;
		top: 500px;
		left: 300px;
		z-index: -1;
	}

	.page_obj_08 {
		position: absolute;
		top: 240px;
		left: 50%;
		z-index: -1;
	}

	.page_obj_09 {
		position: absolute;
		top: 350px;
		left: 60%;
		z-index: -1;
	}

	.page_obj_10 {
		position: absolute;
		top: 1500px;
		left: 30px;
		z-index: -1;
	}

	.page_obj_11 {
		position: absolute;
		top: 1400px;
		right: 40%;
		z-index: -1;
	}

	.page_obj_12 {
		position: absolute;
		top: 1100px;
		left: 50px;
	}

	.page_obj_13 {
		position: absolute;
		top: 1200px;
		right: 450px;
		z-index: -1;
	}

	.page_obj_14 {
		position: absolute;
		top: 1200px;
		left: 500px;
		z-index: -1;
	}

	.page_obj_15 {
		position: absolute;
		top: 1300px;
		left: 60px;
		z-index: -1;
	}

	.page_obj_16 {
		position: absolute;
		top: 1400px;
		right: 200px;
		z-index: -1;
	}

	.page_obj_17 {
		position: absolute;
		top: 1300px;
		left: 50%;
		z-index: -1;
	}

	.page_obj_18 {
		position: absolute;
		top: 1400px;
		right: 5%;
		z-index: -1;
	}
  .page_obj_01 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_01 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_02 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_02 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_03 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_03 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_04 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_05 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_05 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_05 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_06 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_06 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_07 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_07 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_08 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_08 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_09 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_09 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_10 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_10 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_11 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_11 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_12 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_12 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_13 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_13 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_14 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_14 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_15 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_15 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_16 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_16 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_17 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_17 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
  .page_obj_18 img{
    box-shadow: 0 0px 0px rgb(0 0 0 / 0%);
    transition-duration: 0s;
  }
  .page_obj_18 img:hover {
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  }
</style>
<script>
  var rellax = new Rellax('.rellax');
</script>
  <!-- Giscus -->
  <h2 id="__comments">{{ lang.t("meta.comments") }}</h2>
  <!-- Replace with generated snippet -->
  <script src="https://giscus.app/client.js"
        data-repo="227WiKi/227WiKi"
        data-repo-id="R_kgDOGcmDQw"
        data-category="Page Comments"
        data-category-id="DIC_kwDOGcmDQ84CAsWn"
        data-mapping="title"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="https://nananiji.zzzhxxx.top/css/argon.css"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
  
  <!-- Reload on palette change -->
  <script>
    var palette = __md_get("__palette")
    if (palette && typeof palette.color === "object")
      if (palette.color.scheme === "slate") {
        var giscus = document.querySelector("script[src*=giscus]")
        giscus.setAttribute("data-theme", "dark") 
      }

    /* Register event handlers after documented loaded */
    document.addEventListener("DOMContentLoaded", function() {
      var ref = document.querySelector("[data-md-component=palette]")
      ref.addEventListener("change", function() {
        var palette = __md_get("__palette")
        if (palette && typeof palette.color === "object") {
          var theme = palette.color.scheme === "slate" ? "dark" : "light"

          /* Instruct Giscus to change theme */
          var frame = document.querySelector(".giscus-frame")
          frame.contentWindow.postMessage(
            { giscus: { setConfig: { theme } } },
            "https://giscus.app"
          )
        }
      })
    })
  </script>
  <ul class="metadata page-metadata" data-bi-name="page info" lang="zh-cn" dir="ltr">
    <li class="contributors-holder">
      <span class="contributors-text">本页面贡献者</span>
      <ul class="contributors" data-bi-name="contributors">
        {%- for user in committers -%}
        <a href="https://github.com/{{ user.name }}" title="{{ user.name }}" data-bi-name="contributorprofile"><img src="{{ user.avatar }}" style="width:35px; height:35px; border-radius:50%;margin-right: 0.5rem;" data-src="{{ user.avatar }}" alt="{{ user.name }}">{{ user.name }}</a>
        {%- endfor -%}
      </ul>
    </li>
  </ul>
  <style>
  .metadata{
    list-style:none;
    padding:0;
    margin:0;
    margin-bottom: 15px;
    color: #999;
    font-size:0.85em;
    }
    .metadata.page-metadata .contributors-text{
        margin-right:5px
    }
    body[dir=rtl] .metadata.page-metadata .contributors-text{
        margin-right:0;
        margin-left:5px
    }
    .page-metadata .contributors{
        display:inline-block;
        list-style:none;
        margin:0!important;
        padding:0!important
    }
    .page-metadata .contributors li{
        display:inline-block;
        vertical-align:top;
        margin:0;
        padding:0
    }
    .md-typeset .blog-post-description {
        margin-bottom: 0;
    }
    .contributors *{
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5rem;
    }
    </style>
      <script>    
        $( '.contributors img[data-src]' ).each( function() {
        src = $(this).attr("data-src");
        $(this).attr('src',src);
      });
  </script>
  <ul class="metadata page-metadata" data-bi-name="page info" lang="zh-cn" dir="ltr">
    <li class="last-updated-holder displayDate loading">
      <span class="last-updated-text">最后更新时间:</span>
      <time role="presentation" datetime="2018-10-25T00:00:00.000Z" data-article-date-source="ms.date">{% if last_commit_date %}{{ last_commit_date }}{% endif %}</time>
    </li>
  </ul>
{% endblock %}