@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
.md-typeset table:not([class]) th {
    min-width: 0rem;
}
blockquote.page-copyright{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #ff1700; /* Just change the color value and that's it*/
}
blockquote.page-time{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #64b5f6; /* Just change the color value and that's it*/
}
#myBtn {
    display: none;
    position: fixed; 
    bottom: 100px; 
    right: 16px; 
    z-index: 99; 
    border: none;
    outline: none; 
    color: #8590a6;
    cursor: pointer; 
    padding: .7rem; 
    border-radius: .4rem;
}
 
#myBtn:hover {
    background-color: #d3d3d3; 
}

span.mjpage {
  overflow: auto;
}

span.mjpage > svg {
    overflow-x: scroll;
    max-width: none !important;
}

span.mjpage__block > svg {
    min-width: 80%;
    max-width: none !important;
}

.md-icon, .md-clipboard::before, .md-nav__title::before, .md-nav__button, .md-nav__link::after, .md-search-result__article--document::before, .md-source-file::before, .md-typeset .admonition > .admonition-title::before, .md-typeset details > .admonition-title::before, .md-typeset .admonition > summary::before, .md-typeset details > summary::before, .md-typeset .footnote-backref, .md-typeset .critic.comment::before, .md-typeset summary::after, .md-typeset .task-list-control .task-list-indicator::before {
  font-family: 'Material Icons' !important; /* over ride is needed*/
  font-style: normal !important; /* over ride is needed*/
  font-variant: nomal !important; /* over ride is needed*/
}

#color-button {
  text-align: unset !important;
}

.md-sidebar--primary {
  z-index: 14 !important;
}

.md-header  {
  z-index: 12 !important;
}

.md-typeset img{
  border-radius: 6px;
  box-shadow:0 1px 3px rgba(0,0,0,0.5);
  transition-duration: 0.4s;
}
.md-typeset img:hover{
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 8px 25px 0 rgba(0,0,0,0.19);
}
body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #333;
	font-size: 14px;
	line-height: 1.6;
}

a {
	color: #009ad4;
	text-decoration: none;
}

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.effect {
	opacity: 1;
	-webkit-transition-delay: .3s;
	   -moz-transition-delay: .3s;
	     -o-transition-delay: .3s;
	        transition-delay: .3s;
	-webkit-transition-duration: .6s;
	   -moz-transition-duration: .6s;
	     -o-transition-duration: .6s;
	        transition-duration: .6s;
	-webkit-transition-property: all;
	   -moz-transition-property: all;
	     -o-transition-property: all;
	        transition-property: all;
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}
@media all and (min-width: 769px) {
	.sponly {
		display: none;
	}

	/* @group header */

	header {
		text-align: center;
	}

	.header_inner {
		position: relative;
		padding: 28px 0;
	}

	.header_logo {
	}

	.header_logo img {
		width: 224px;
		height: auto;
	}

	.header_logo a:hover img {
		opacity: .7;
	}

	.page_header .header_logo {
		display: none;
	}

	.page_header .header_inner {
		padding: 0;
	}


	.header_icon {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
	}

	.header_icon ul {
		display: flex;
	}

	.header_icon ul li {
		margin: 0 0 0 12px;
	}

	.header_icon ul li img {
	}

	.header_icon ul li a:hover img {
		opacity: .7;
	}

  #sp_menu {
		position: absolute;
		top: 10px;
		left: 0;
		z-index: 10000;
	}

	.menu-trigger,
	.menu-trigger span {
		display: inline-block;
		box-sizing: border-box;
		transition: all .4s;
	}
	.menu-trigger {
		position: relative;
		width: 35px;
		height: 14px;
		text-align: right;
	}
	.menu-trigger span {
		position: absolute;
		left: 0;
		width: 35px;
		height: 2px;
		background-color: #333;
	}
	.menu-trigger span:nth-of-type(1) {
		top: 0;
	}
	.menu-trigger span:nth-of-type(2) {
		top: 6px;
	}
	.menu-trigger span:nth-of-type(3) {
		top: 12px;
	}

	.is-open .menu-trigger {
		width: 40px;
		height: 40px;
		border-radius: 40px;
		background: #fff;
		text-align: center;
	}


	.is-open .menu-trigger span:nth-of-type(1) {
		top: 19px;
		left: 7px;
		width: 26px;
		background: #009ad4;
		-webkit-transform: translateY(0px) rotate(-20deg);
		    -ms-transform: translateY(0px) rotate(-20deg);
		        transform: translateY(0px) rotate(-20deg);
	}

	.is-open .menu-trigger span:nth-of-type(2) {
		display: none;
	}

	.is-open .menu-trigger span:nth-of-type(3) {
		top: 19px;
		left: 7px;
		width: 26px;
		background: #009ad4;
		-webkit-transform: translateY(0px) rotate(20deg);
		    -ms-transform: translateY(0px) rotate(20deg);
		        transform: translateY(0px) rotate(20deg);
	}
  .index_discography {
		padding: 80px 0;
	}

	.index_discography_inner {
		position: relative;
		margin: 0 auto;
		max-width: 1220px;
	}

	.index_discography_title h2 {
		color: #009ad4;
		letter-spacing: 20px;
		font-weight: 100;
		font-size: 100px;
		line-height: 1;
		opacity: .4;
	}

	.index_discography_container {
		display: flex;
		margin: 50px 5% 0;

		justify-content: space-between;
	}

	.index_discography_box {
		width: 23%;
	}

	.index_movie_thumb img {
		width: 100%;
		height: auto;
	}

	.index_discography_box:last-child {
		display: flex;
		border: 1px solid #d4f0fe;

		justify-content: center;
		align-items: center;
	}
  .index_feature {
		padding: 20px 0;
		background: #f0f1f5;
	}

	.index_feature_inner {
		position: relative;
		margin: 0 0;
		max-width: 1220px;
	}

	.index_feature_box {
		margin: 10px 0 0 10px;
		padding: 0 10px;
	}

	.index_feature_box img {
		width: 100%;
		height: auto;
		border-radius: 10px;
		transform: translate(-10px,-10px);
	}

	.index_feature_box a {
		position: relative;
		display: block;
		border-radius: 10px;
		background: url('../../home/line_blue.png') ;
		background-size: 9px 9px;
	}

	.index_feature .slick-prev {
		position: absolute;
		top: 50%;
		left: -22px;
		z-index: 10;
		overflow: hidden;
		margin-top: -11px;
		width: 15px;
		height: 23px;
		outline: none;
		border: 0;
		-webkit-border-radius: 0;
		background: url('../../assets/home/icon_arrow.svg') no-repeat;
		background-size: 15px auto;
		text-indent: -9999px;
		cursor: pointer;
		-webkit-appearance: none;
	}

	.index_feature .slick-next {
		position: absolute;
		top: 50%;
		right: -22px;
		z-index: 10;
		overflow: hidden;
		margin-top: -11px;
		width: 15px;
		height: 23px;
		outline: none;
		border: 0;
		-webkit-border-radius: 0;
		background: url('../../assets/home/icon_arrow.svg') no-repeat;
		background-size: 15px auto;
		text-indent: -9999px;
		cursor: pointer;
		-webkit-appearance: none;
		transform: rotate(180deg);
	}
	/* @end */

	/* @group nav_home */

/* @group obj */

.rellax {
  -ms-filter: blur(4px);
      filter: blur(4px);
}

.obj_01 {
  position: absolute;
  top: 1500px;
  left: 100px;
}

.obj_02 {
  position: absolute;
  top: 2000px;
  right: 100px;
}

.obj_03 {
  position: absolute;
  top: 2200px;
  left: 200px;
}

.obj_04 {
  position: absolute;
  top: 2300px;
  right: 150px;
}

.obj_05 {
  position: absolute;
  top: 2600px;
  left: 70px;
}

.obj_06 {
  position: absolute;
  top: 2800px;
  right: 60px;
}

.obj_07 {
  position: absolute;
  top: 3000px;
  left: 500px;
}

.obj_08 {
  position: absolute;
  top: 4000px;
  left: 50%;
}

.obj_09 {
  position: absolute;
  top: 4500px;
  left: 60%;
}

.obj_10 {
  position: absolute;
  top: 5000px;
  left: 30px;
}

.obj_11 {
  position: absolute;
  top: 5200px;
  right: 40%;
}

.obj_12 {
  position: absolute;
  top: 4500px;
  left: 50px;
}

.obj_13 {
  position: absolute;
  top: 4600px;
  right: 450px;
}

.obj_14 {
  position: absolute;
  top: 4600px;
  left: 500px;
}

.obj_15 {
  position: absolute;
  top: 5800px;
  left: 60px;
}

.obj_16 {
  position: absolute;
  top: 5000px;
  right: 200px;
}

.obj_17 {
  position: absolute;
  top: 5000px;
  left: 50%;
}

.obj_18 {
  position: absolute;
  top: 5500px;
  right: 5%;
}

.page_obj_01 {
  position: absolute;
  top: 00px;
  left: 100px;
  z-index: -1;
}

.page_obj_02 {
  position: absolute;
  top: 220px;
  right: 100px;
  z-index: -1;
}

.page_obj_03 {
  position: absolute;
  top: 200px;
  left: 250px;
  z-index: -1;
}

.page_obj_04 {
  position: absolute;
  top: 270px;
  right: 150px;
  z-index: -1;
}

.page_obj_05 {
  position: absolute;
  top: 800px;
  left: 10px;
  z-index: -1;
}

.page_obj_06 {
  position: absolute;
  top: 380px;
  right: 60px;
  z-index: -1;
}

.page_obj_07 {
  position: absolute;
  top: 500px;
  left: 300px;
  z-index: -1;
}

.page_obj_08 {
  position: absolute;
  top: 240px;
  left: 50%;
  z-index: -1;
}

.page_obj_09 {
  position: absolute;
  top: 350px;
  left: 60%;
  z-index: -1;
}

.page_obj_10 {
  position: absolute;
  top: 1500px;
  left: 30px;
  z-index: -1;
}

.page_obj_11 {
  position: absolute;
  top: 1600px;
  right: 40%;
  z-index: -1;
}

.page_obj_12 {
  position: absolute;
  top: 1700px;
  left: 50px;
}

.page_obj_13 {
  position: absolute;
  top: 1800px;
  right: 450px;
  z-index: -1;
}

.page_obj_14 {
  position: absolute;
  top: 1800px;
  left: 500px;
  z-index: -1;
}

.page_obj_15 {
  position: absolute;
  top: 1900px;
  left: 60px;
  z-index: -1;
}

.page_obj_16 {
  position: absolute;
  top: 2000px;
  right: 200px;
  z-index: -1;
}

.page_obj_17 {
  position: absolute;
  top: 2500px;
  left: 50%;
  z-index: -1;
}

.page_obj_18 {
  position: absolute;
  top: 2200px;
  right: 5%;
  z-index: -1;
}
/* @group index */

.index_mv {
  background: url('https://nanabunnonijyuuni.com/files/4/n129/assets/img/mv.jpg') no-repeat top center;
  background-size: 100% auto;
}

.index_feature {
  padding: 20px 0;
  background: #f0f1f5;
}

.index_feature_inner {
  position: relative;
  margin: 0 0;
  max-width: 1220px;
}

.index_feature_box {
  margin: 10px 0 0 10px;
  padding: 0 10px;
}

.index_feature_box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transform: translate(-10px,-10px);
}

.index_feature_box a {
  position: relative;
  display: block;
  border-radius: 10px;
  background: url('../../assets/home/homeline_blue.png') ;
  background-size: 9px 9px;
}
.index_topics {
  padding: 80px 0;
  background: url('../../assets/home/line_blue_alpha.png') ;
  background-size: 9px 9px;
}

.index_topics_inner {
  position: relative;
  margin: 0 auto;
  max-width: 1220px;
}
.index_schedule {
  padding: 30px 0 150px;
  background:    -moz-linear-gradient(top, #f0f1f5, #fff);
  background: -webkit-linear-gradient(top, #f0f1f5, #fff);
  background:         linear-gradient(to bottom, #f0f1f5, #fff);
  text-align: center;
}

.index_schedule_inner {
  position: relative;
  margin: 0 auto;
  padding: 10px 30px;
  max-width: 1120px;
  border-radius: 50px;
  background: #fff;
}

.index_schedule_box {
  display: flex;

  align-items: center;
}

.index_schedule_box h2 {
  margin-right: 30px;
  color: #009ad4;
  font-weight: normal;
  font-size: 21px;
}

.index_schedule_label {
  margin-right: 15px;
}

.index_schedule_label span {
  display: inline-block;
  padding: 0 10px;
  border: 2px solid #f69100;
  border-radius: 20px;
  color: #f69100;
  font-size: 12px;
}

.index_schedule_title a {
  color: #6c6c6c;
  font-size: 16px;
}

.index_schedule_more {
  position: absolute;
  top: 50%;
  right: 15px;
  z-index: 1;
  margin-top: -18px;
}
.webfont {
	font-family: 'Raleway', sans-serif;
}

.index_topics_inner h2 {
  position: absolute;
  top: -140px;
  left: -50px;
  z-index: 0;
  color: #009ad4;
  letter-spacing: 30px;
  font-weight: 100;
  font-size: 100px;
  line-height: 1;
  opacity: .4;
}

.index_topics_container {
  display: flex;

  justify-content: space-between;
}

.index_topics_box {
  padding: 0;
  width: 30%;
}

.index_topics_box_inner:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 100%;
  background: url('../../assets/home/topics_frame.svg') no-repeat;
  background-size: auto 100%;
  content: '';
}

.index_topics_box_inner:after {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 20px;
  height: 100%;
  background: url('../../assets/home/topics_frame.svg') no-repeat;
  background-size: auto 100%;
  content: '';
  transform: rotate(180deg);
}

.index_topics_box_inner {
  position: relative;
  display: flex;
  padding: 17px 20px;
  border-radius: 10px;
  background: #fff;

  align-items: center;
}

.index_topics_icon {
  margin-right: 20px;
}

.index_topics_text {
  color: #009ad4;
}

.index_topics_text a {
  color: #009ad4;
  line-height: 1.8;
}

.index_topics_date {
  letter-spacing: 1px;
  font-size: 10px;
}
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

h2{
    margin:0;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

ul li,
ol li {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.hidden{visibility: hidden;}
.clear{clear:both;}
/* !Margin
-------------------------------------------------------------- */
.mt00 { margin-top: 0   !important;}
.mt05 { margin-top: 5px !important;}
.mt10 { margin-top:10px !important;}
.mt15 { margin-top:15px !important;}
.mt20 { margin-top:20px !important;}
.mt25 { margin-top:25px !important;}
.mt30 { margin-top:30px !important;}
.mt35 { margin-top:35px !important;}
.mt40 { margin-top:40px !important;}
.mt45 { margin-top:45px !important;}
.mt50 { margin-top:50px !important;}
.mr00 { margin-right: 0   !important;}
.mr05 { margin-right: 5px !important;}
.mr10 { margin-right:10px !important;}
.mr15 { margin-right:15px !important;}
.mr20 { margin-right:20px !important;}
.mr25 { margin-right:25px !important;}
.mr30 { margin-right:30px !important;}
.mr35 { margin-right:35px !important;}
.mr40 { margin-right:40px !important;}
.mr45 { margin-right:45px !important;}
.mr50 { margin-right:50px !important;}
.mb00 { margin-bottom: 0   !important;}
.mb05 { margin-bottom: 5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb15 { margin-bottom:15px !important;}
.mb20 { margin-bottom:20px !important;}
.mb25 { margin-bottom:25px !important;}
.mb30 { margin-bottom:30px !important;}
.mb35 { margin-bottom:35px !important;}
.mb40 { margin-bottom:40px !important;}
.mb45 { margin-bottom:45px !important;}
.mb50 { margin-bottom:50px !important;}
.ml00 { margin-left: 0   !important;}
.ml05 { margin-left: 5px !important;}
.ml10 { margin-left:10px !important;}
.ml15 { margin-left:15px !important;}
.ml20 { margin-left:20px !important;}
.ml25 { margin-left:25px !important;}
.ml30 { margin-left:30px !important;}
.ml35 { margin-left:35px !important;}
.ml40 { margin-left:40px !important;}
.ml45 { margin-left:45px !important;}
.ml50 { margin-left:50px !important;}
.mv00 { margin-top: 0   !important; margin-bottom:  0   !important;}
.mv05 { margin-top: 5px !important; margin-bottom:  5px !important;}
.mv10 { margin-top:10px !important; margin-bottom: 10px !important;}
.mv15 { margin-top:15px !important; margin-bottom: 15px !important;}
.mv20 { margin-top:20px !important; margin-bottom: 20px !important;}
.mv25 { margin-top:25px !important; margin-bottom: 25px !important;}
.mv30 { margin-top:30px !important; margin-bottom: 30px !important;}
.mv35 { margin-top:35px !important; margin-bottom: 35px !important;}
.mv40 { margin-top:40px !important; margin-bottom: 40px !important;}
.mv45 { margin-top:45px !important; margin-bottom: 45px !important;}
.mv50 { margin-top:50px !important; margin-bottom: 50px !important;}
.mh00 { margin-right: 0   !important; margin-left:  0   !important;}
.mh05 { margin-right: 5px !important; margin-left:  5px !important;}
.mh10 { margin-right:10px !important; margin-left: 10px !important;}
.mh15 { margin-right:15px !important; margin-left: 15px !important;}
.mh20 { margin-right:20px !important; margin-left: 20px !important;}
.mh25 { margin-right:25px !important; margin-left: 25px !important;}
.mh30 { margin-right:30px !important; margin-left: 30px !important;}
.mh35 { margin-right:35px !important; margin-left: 35px !important;}
.mh40 { margin-right:40px !important; margin-left: 40px !important;}
.mh45 { margin-right:45px !important; margin-left: 45px !important;}
.mh50 { margin-right:50px !important; margin-left: 50px !important;}

.mhAuto { margin: 0 auto;}

/* !Padding
-------------------------------------------------------------- */
.pt00 { padding-top: 0   !important;}
.pt05 { padding-top: 5px !important;}
.pt10 { padding-top:10px !important;}
.pt15 { padding-top:15px !important;}
.pt20 { padding-top:20px !important;}
.pt25 { padding-top:25px !important;}
.pt30 { padding-top:30px !important;}
.pt35 { padding-top:35px !important;}
.pt40 { padding-top:40px !important;}
.pt45 { padding-top:45px !important;}
.pt50 { padding-top:50px !important;}
.pr00 { padding-right: 0   !important;}
.pr05 { padding-right: 5px !important;}
.pr10 { padding-right:10px !important;}
.pr15 { padding-right:15px !important;}
.pr20 { padding-right:20px !important;}
.pr25 { padding-right:25px !important;}
.pr30 { padding-right:30px !important;}
.pr35 { padding-right:35px !important;}
.pr40 { padding-right:40px !important;}
.pr45 { padding-right:45px !important;}
.pr50 { padding-right:50px !important;}
.pb00 { padding-bottom: 0   !important;}
.pb05 { padding-bottom: 5px !important;}
.pb10 { padding-bottom:10px !important;}
.pb15 { padding-bottom:15px !important;}
.pb20 { padding-bottom:20px !important;}
.pb25 { padding-bottom:25px !important;}
.pb30 { padding-bottom:30px !important;}
.pb35 { padding-bottom:35px !important;}
.pb40 { padding-bottom:40px !important;}
.pb45 { padding-bottom:45px !important;}
.pb50 { padding-bottom:50px !important;}
.pl00 { padding-left: 0   !important;}
.pl05 { padding-left: 5px !important;}
.pl10 { padding-left:10px !important;}
.pl15 { padding-left:15px !important;}
.pl20 { padding-left:20px !important;}
.pl25 { padding-left:25px !important;}
.pl30 { padding-left:30px !important;}
.pl35 { padding-left:35px !important;}
.pl40 { padding-left:40px !important;}
.pl45 { padding-left:45px !important;}
.pl50 { padding-left:50px !important;}
.pv00 { padding-top: 0   !important; padding-bottom:  0   !important;}
.pv05 { padding-top: 5px !important; padding-bottom:  5px !important;}
.pv10 { padding-top:10px !important; padding-bottom: 10px !important;}
.pv15 { padding-top:15px !important; padding-bottom: 15px !important;}
.pv20 { padding-top:20px !important; padding-bottom: 20px !important;}
.pv25 { padding-top:25px !important; padding-bottom: 25px !important;}
.pv30 { padding-top:30px !important; padding-bottom: 30px !important;}
.pv35 { padding-top:35px !important; padding-bottom: 35px !important;}
.pv40 { padding-top:40px !important; padding-bottom: 40px !important;}
.pv45 { padding-top:45px !important; padding-bottom: 45px !important;}
.pv50 { padding-top:50px !important; padding-bottom: 50px !important;}
.ph00 { padding-right: 0   !important; padding-left:  0   !important;}
.ph05 { padding-right: 5px !important; padding-left:  5px !important;}
.ph10 { padding-right:10px !important; padding-left: 10px !important;}
.ph15 { padding-right:15px !important; padding-left: 15px !important;}
.ph20 { padding-right:20px !important; padding-left: 20px !important;}
.ph25 { padding-right:25px !important; padding-left: 25px !important;}
.ph30 { padding-right:30px !important; padding-left: 30px !important;}
.ph35 { padding-right:35px !important; padding-left: 35px !important;}
.ph40 { padding-right:40px !important; padding-left: 40px !important;}
.ph45 { padding-right:45px !important; padding-left: 45px !important;}
.ph50 { padding-right:50px !important; padding-left: 50px !important;}

/* !Floats
-------------------------------------------------------------- */
.flL    { display: inline; float: left;}
.flR    { display: inline; float: right;}
.flImgL { display: inline; float: left; margin-right: 20px;}
.flImgR { display: inline; float: right; margin-left: 20px;}
.ftBox  { overflow: hidden;}
.taL { text-align: left   !important;}
.taC { text-align: center !important;}
.taR { text-align: right  !important;}
.vaT { vertical-align: top    !important;}
.vaM { vertical-align: middle !important;}
.vaB { vertical-align: bottom !important;}


.kome{
	text-indent:-1em;
	padding-left:1em;
}

td ol.tdol,td ul.tdul{
margin:0;
padding:0;
margin-left:1.5em;
}

/*****CLEARFIX START*****/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size:0;
	content: " "; 
	clear: both; 
	height: 0; 
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */ 

/*****CLEARFIX END*****/
/* @end */


/* h1, h2, h3, h4 {
  font-weight: 500 !important;
}

h2 {
  font-size: 2.8rem !important;
}

h3 {
  font-size: 2.4rem !important;
}

h4 {
  font-size: 2.0rem !important;
}

h5 {
  font-size: 1.6rem !important;
}
 */

 /* https://www.mdui.org/docs/shadow */

.mdui-shadow-0{-webkit-box-shadow:none!important;box-shadow:none!important}
.mdui-shadow-1{-webkit-box-shadow:0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important;box-shadow:0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12)!important}
.mdui-shadow-2{-webkit-box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)!important;box-shadow:0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12)!important}
.mdui-shadow-3{-webkit-box-shadow:0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important;box-shadow:0 3px 3px -2px rgba(0,0,0,.2),0 3px 4px 0 rgba(0,0,0,.14),0 1px 8px 0 rgba(0,0,0,.12)!important}
.mdui-shadow-4{-webkit-box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)!important;box-shadow:0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12)!important}
.mdui-shadow-5{-webkit-box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)!important;box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 5px 8px 0 rgba(0,0,0,.14),0 1px 14px 0 rgba(0,0,0,.12)!important}
.mdui-shadow-6{-webkit-box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)!important;box-shadow:0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12)!important}
.mdui-shadow-7{-webkit-box-shadow:0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12)!important;box-shadow:0 4px 5px -2px rgba(0,0,0,.2),0 7px 10px 1px rgba(0,0,0,.14),0 2px 16px 1px rgba(0,0,0,.12)!important}
.mdui-shadow-8{-webkit-box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)!important;box-shadow:0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)!important}
.mdui-shadow-9{-webkit-box-shadow:0 5px 6px -3px rgba(0,0,0,.2),0 9px 12px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12)!important;box-shadow:0 5px 6px -3px rgba(0,0,0,.2),0 9px 12px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12)!important}
.mdui-shadow-10{-webkit-box-shadow:0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12)!important;box-shadow:0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12)!important}
.mdui-shadow-11{-webkit-box-shadow:0 6px 7px -4px rgba(0,0,0,.2),0 11px 15px 1px rgba(0,0,0,.14),0 4px 20px 3px rgba(0,0,0,.12)!important;box-shadow:0 6px 7px -4px rgba(0,0,0,.2),0 11px 15px 1px rgba(0,0,0,.14),0 4px 20px 3px rgba(0,0,0,.12)!important}
.mdui-shadow-12{-webkit-box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12)!important;box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 12px 17px 2px rgba(0,0,0,.14),0 5px 22px 4px rgba(0,0,0,.12)!important}
.mdui-shadow-13{-webkit-box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12)!important;box-shadow:0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12)!important}
.mdui-shadow-14{-webkit-box-shadow:0 7px 9px -4px rgba(0,0,0,.2),0 14px 21px 2px rgba(0,0,0,.14),0 5px 26px 4px rgba(0,0,0,.12)!important;box-shadow:0 7px 9px -4px rgba(0,0,0,.2),0 14px 21px 2px rgba(0,0,0,.14),0 5px 26px 4px rgba(0,0,0,.12)!important}
.mdui-shadow-15{-webkit-box-shadow:0 8px 9px -5px rgba(0,0,0,.2),0 15px 22px 2px rgba(0,0,0,.14),0 6px 28px 5px rgba(0,0,0,.12)!important;box-shadow:0 8px 9px -5px rgba(0,0,0,.2),0 15px 22px 2px rgba(0,0,0,.14),0 6px 28px 5px rgba(0,0,0,.12)!important}
.mdui-shadow-16{-webkit-box-shadow:0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12)!important;box-shadow:0 8px 10px -5px rgba(0,0,0,.2),0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12)!important}
.mdui-shadow-17{-webkit-box-shadow:0 8px 11px -5px rgba(0,0,0,.2),0 17px 26px 2px rgba(0,0,0,.14),0 6px 32px 5px rgba(0,0,0,.12)!important;box-shadow:0 8px 11px -5px rgba(0,0,0,.2),0 17px 26px 2px rgba(0,0,0,.14),0 6px 32px 5px rgba(0,0,0,.12)!important}
.mdui-shadow-18{-webkit-box-shadow:0 9px 11px -5px rgba(0,0,0,.2),0 18px 28px 2px rgba(0,0,0,.14),0 7px 34px 6px rgba(0,0,0,.12)!important;box-shadow:0 9px 11px -5px rgba(0,0,0,.2),0 18px 28px 2px rgba(0,0,0,.14),0 7px 34px 6px rgba(0,0,0,.12)!important}
.mdui-shadow-19{-webkit-box-shadow:0 9px 12px -6px rgba(0,0,0,.2),0 19px 29px 2px rgba(0,0,0,.14),0 7px 36px 6px rgba(0,0,0,.12)!important;box-shadow:0 9px 12px -6px rgba(0,0,0,.2),0 19px 29px 2px rgba(0,0,0,.14),0 7px 36px 6px rgba(0,0,0,.12)!important}
.mdui-shadow-20{-webkit-box-shadow:0 10px 13px -6px rgba(0,0,0,.2),0 20px 31px 3px rgba(0,0,0,.14),0 8px 38px 7px rgba(0,0,0,.12)!important;box-shadow:0 10px 13px -6px rgba(0,0,0,.2),0 20px 31px 3px rgba(0,0,0,.14),0 8px 38px 7px rgba(0,0,0,.12)!important}
.mdui-shadow-21{-webkit-box-shadow:0 10px 13px -6px rgba(0,0,0,.2),0 21px 33px 3px rgba(0,0,0,.14),0 8px 40px 7px rgba(0,0,0,.12)!important;box-shadow:0 10px 13px -6px rgba(0,0,0,.2),0 21px 33px 3px rgba(0,0,0,.14),0 8px 40px 7px rgba(0,0,0,.12)!important}
.mdui-shadow-22{-webkit-box-shadow:0 10px 14px -6px rgba(0,0,0,.2),0 22px 35px 3px rgba(0,0,0,.14),0 8px 42px 7px rgba(0,0,0,.12)!important;box-shadow:0 10px 14px -6px rgba(0,0,0,.2),0 22px 35px 3px rgba(0,0,0,.14),0 8px 42px 7px rgba(0,0,0,.12)!important}
.mdui-shadow-23{-webkit-box-shadow:0 11px 14px -7px rgba(0,0,0,.2),0 23px 36px 3px rgba(0,0,0,.14),0 9px 44px 8px rgba(0,0,0,.12)!important;box-shadow:0 11px 14px -7px rgba(0,0,0,.2),0 23px 36px 3px rgba(0,0,0,.14),0 9px 44px 8px rgba(0,0,0,.12)!important}
.mdui-shadow-24{-webkit-box-shadow:0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12)!important;box-shadow:0 11px 15px -7px rgba(0,0,0,.2),0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12)!important}