*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

img{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:top;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

ul li,
ol li {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.hidden{visibility: hidden;}
.clear{clear:both;}

/* !Margin
-------------------------------------------------------------- */
.mt00 { margin-top: 0   !important;}
.mt05 { margin-top: 5px !important;}
.mt10 { margin-top:10px !important;}
.mt15 { margin-top:15px !important;}
.mt20 { margin-top:20px !important;}
.mt25 { margin-top:25px !important;}
.mt30 { margin-top:30px !important;}
.mt35 { margin-top:35px !important;}
.mt40 { margin-top:40px !important;}
.mt45 { margin-top:45px !important;}
.mt50 { margin-top:50px !important;}
.mr00 { margin-right: 0   !important;}
.mr05 { margin-right: 5px !important;}
.mr10 { margin-right:10px !important;}
.mr15 { margin-right:15px !important;}
.mr20 { margin-right:20px !important;}
.mr25 { margin-right:25px !important;}
.mr30 { margin-right:30px !important;}
.mr35 { margin-right:35px !important;}
.mr40 { margin-right:40px !important;}
.mr45 { margin-right:45px !important;}
.mr50 { margin-right:50px !important;}
.mb00 { margin-bottom: 0   !important;}
.mb05 { margin-bottom: 5px !important;}
.mb10 { margin-bottom:10px !important;}
.mb15 { margin-bottom:15px !important;}
.mb20 { margin-bottom:20px !important;}
.mb25 { margin-bottom:25px !important;}
.mb30 { margin-bottom:30px !important;}
.mb35 { margin-bottom:35px !important;}
.mb40 { margin-bottom:40px !important;}
.mb45 { margin-bottom:45px !important;}
.mb50 { margin-bottom:50px !important;}
.ml00 { margin-left: 0   !important;}
.ml05 { margin-left: 5px !important;}
.ml10 { margin-left:10px !important;}
.ml15 { margin-left:15px !important;}
.ml20 { margin-left:20px !important;}
.ml25 { margin-left:25px !important;}
.ml30 { margin-left:30px !important;}
.ml35 { margin-left:35px !important;}
.ml40 { margin-left:40px !important;}
.ml45 { margin-left:45px !important;}
.ml50 { margin-left:50px !important;}
.mv00 { margin-top: 0   !important; margin-bottom:  0   !important;}
.mv05 { margin-top: 5px !important; margin-bottom:  5px !important;}
.mv10 { margin-top:10px !important; margin-bottom: 10px !important;}
.mv15 { margin-top:15px !important; margin-bottom: 15px !important;}
.mv20 { margin-top:20px !important; margin-bottom: 20px !important;}
.mv25 { margin-top:25px !important; margin-bottom: 25px !important;}
.mv30 { margin-top:30px !important; margin-bottom: 30px !important;}
.mv35 { margin-top:35px !important; margin-bottom: 35px !important;}
.mv40 { margin-top:40px !important; margin-bottom: 40px !important;}
.mv45 { margin-top:45px !important; margin-bottom: 45px !important;}
.mv50 { margin-top:50px !important; margin-bottom: 50px !important;}
.mh00 { margin-right: 0   !important; margin-left:  0   !important;}
.mh05 { margin-right: 5px !important; margin-left:  5px !important;}
.mh10 { margin-right:10px !important; margin-left: 10px !important;}
.mh15 { margin-right:15px !important; margin-left: 15px !important;}
.mh20 { margin-right:20px !important; margin-left: 20px !important;}
.mh25 { margin-right:25px !important; margin-left: 25px !important;}
.mh30 { margin-right:30px !important; margin-left: 30px !important;}
.mh35 { margin-right:35px !important; margin-left: 35px !important;}
.mh40 { margin-right:40px !important; margin-left: 40px !important;}
.mh45 { margin-right:45px !important; margin-left: 45px !important;}
.mh50 { margin-right:50px !important; margin-left: 50px !important;}

.mhAuto { margin: 0 auto;}

/* !Padding
-------------------------------------------------------------- */
.pt00 { padding-top: 0   !important;}
.pt05 { padding-top: 5px !important;}
.pt10 { padding-top:10px !important;}
.pt15 { padding-top:15px !important;}
.pt20 { padding-top:20px !important;}
.pt25 { padding-top:25px !important;}
.pt30 { padding-top:30px !important;}
.pt35 { padding-top:35px !important;}
.pt40 { padding-top:40px !important;}
.pt45 { padding-top:45px !important;}
.pt50 { padding-top:50px !important;}
.pr00 { padding-right: 0   !important;}
.pr05 { padding-right: 5px !important;}
.pr10 { padding-right:10px !important;}
.pr15 { padding-right:15px !important;}
.pr20 { padding-right:20px !important;}
.pr25 { padding-right:25px !important;}
.pr30 { padding-right:30px !important;}
.pr35 { padding-right:35px !important;}
.pr40 { padding-right:40px !important;}
.pr45 { padding-right:45px !important;}
.pr50 { padding-right:50px !important;}
.pb00 { padding-bottom: 0   !important;}
.pb05 { padding-bottom: 5px !important;}
.pb10 { padding-bottom:10px !important;}
.pb15 { padding-bottom:15px !important;}
.pb20 { padding-bottom:20px !important;}
.pb25 { padding-bottom:25px !important;}
.pb30 { padding-bottom:30px !important;}
.pb35 { padding-bottom:35px !important;}
.pb40 { padding-bottom:40px !important;}
.pb45 { padding-bottom:45px !important;}
.pb50 { padding-bottom:50px !important;}
.pl00 { padding-left: 0   !important;}
.pl05 { padding-left: 5px !important;}
.pl10 { padding-left:10px !important;}
.pl15 { padding-left:15px !important;}
.pl20 { padding-left:20px !important;}
.pl25 { padding-left:25px !important;}
.pl30 { padding-left:30px !important;}
.pl35 { padding-left:35px !important;}
.pl40 { padding-left:40px !important;}
.pl45 { padding-left:45px !important;}
.pl50 { padding-left:50px !important;}
.pv00 { padding-top: 0   !important; padding-bottom:  0   !important;}
.pv05 { padding-top: 5px !important; padding-bottom:  5px !important;}
.pv10 { padding-top:10px !important; padding-bottom: 10px !important;}
.pv15 { padding-top:15px !important; padding-bottom: 15px !important;}
.pv20 { padding-top:20px !important; padding-bottom: 20px !important;}
.pv25 { padding-top:25px !important; padding-bottom: 25px !important;}
.pv30 { padding-top:30px !important; padding-bottom: 30px !important;}
.pv35 { padding-top:35px !important; padding-bottom: 35px !important;}
.pv40 { padding-top:40px !important; padding-bottom: 40px !important;}
.pv45 { padding-top:45px !important; padding-bottom: 45px !important;}
.pv50 { padding-top:50px !important; padding-bottom: 50px !important;}
.ph00 { padding-right: 0   !important; padding-left:  0   !important;}
.ph05 { padding-right: 5px !important; padding-left:  5px !important;}
.ph10 { padding-right:10px !important; padding-left: 10px !important;}
.ph15 { padding-right:15px !important; padding-left: 15px !important;}
.ph20 { padding-right:20px !important; padding-left: 20px !important;}
.ph25 { padding-right:25px !important; padding-left: 25px !important;}
.ph30 { padding-right:30px !important; padding-left: 30px !important;}
.ph35 { padding-right:35px !important; padding-left: 35px !important;}
.ph40 { padding-right:40px !important; padding-left: 40px !important;}
.ph45 { padding-right:45px !important; padding-left: 45px !important;}
.ph50 { padding-right:50px !important; padding-left: 50px !important;}

/* !Floats
-------------------------------------------------------------- */
.flL    { display: inline; float: left;}
.flR    { display: inline; float: right;}
.flImgL { display: inline; float: left; margin-right: 20px;}
.flImgR { display: inline; float: right; margin-left: 20px;}
.ftBox  { overflow: hidden;}
.taL { text-align: left   !important;}
.taC { text-align: center !important;}
.taR { text-align: right  !important;}
.vaT { vertical-align: top    !important;}
.vaM { vertical-align: middle !important;}
.vaB { vertical-align: bottom !important;}


.kome{
	text-indent:-1em;
	padding-left:1em;
}

td ol.tdol,td ul.tdul{
margin:0;
padding:0;
margin-left:1.5em;
}

/*****CLEARFIX START*****/
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size:0;
	content: " "; 
	clear: both; 
	height: 0; 
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */ 

/*****CLEARFIX END*****/


/* !for rwd
-------------------------------------------------------------- */
